[Unit]
Description=ALSA LTC Timecode Decoder
StopWhenUnneeded=yes

[Service]
Type=simple
User=pi
ExecStart=/opt/clock8002/alsa-ltc - 127.0.0.1 1245
Restart=always
RestartSec=30
