[Unit]
Description=ALSA LTC Timecode Decoder
After=dev-snd-by\x2did-usb\x2dC\x2dMedia_Electronics_Inc._USB_Audio_Device\x2d00.device
BindsTo=dev-snd-by\x2did-usb\x2dC\x2dMedia_Electronics_Inc._USB_Audio_Device\x2d00.device

[Service]
Type=simple
User=root
ExecStart=/opt/clock8002/alsa-ltc - 127.0.0.1 1245
Restart=always
RestartSec=3
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target
